.formats{
  margin-top:40px;
}
.formats .formats-desc{
  margin-top: -8px;
}
.formats li{
  font-size: 14px;
}
.formats .list-group-item {
  display: list-item;
  margin-left: 16px;
  word-wrap: break-word;
}
.formats a {
  cursor: pointer;
}
.error-wrapper{
  margin-top: 0px;
  margin-bottom: -5px;
}
